/*ALL course*/
.grid-title-2{
    grid-template-columns: 5fr 2fr;
}

#formation_title{
    background-color: #6d7aea;
    display: flex;
    width: 100%;
    
}

.logo-course-explicit{
    width: 170px;
    position: absolute;
    top: 0;
    left: 34px;
}



.link-formation{
    cursor: pointer;
}

.selected-choice{
    font-weight: bold;
    padding-left: 5px;

}


.selected-choice::before{
    content: "";
    position: absolute;
    height: 2rem;
    margin-left: -10px;
    width: 7px;
    background-color: rgba(109, 122, 234, 1);

}

.category-course-ref{
    margin-left: 10px;
}

.grille{
    max-width: 1260px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grille-item{
    width: 94%;
    margin: 10px;
}

.course-image{
    filter: grayscale(1);
}

.formation-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 586px;
}


.overlay-validate{
    background-color: rgba(91, 189, 131, 0.68) ;
    z-index: 6;
    position: absolute;
    width: 100%;
}

.overlay-touch{
    background-color: rgba(135, 135, 135, 0.68);
    z-index: 6;
    position: absolute;
    width: 100%;
}


.overlay-undone{
    background-color:  rgba(109, 122, 234, 0.68);
    z-index: 6;
    position: absolute;
    width: 100%;
}
.task-button{
    color: gray;
    margin: auto;
    position: absolute;
    z-index: 30;
    border-radius: 60px;
    font-size: 1.8rem;
    text-align: center;
    margin: 17px 16px 17px 16px;
}

.play-button{
    color: #6d7aea;
    margin: auto;
    position: absolute;
    z-index: 30;
    border-radius: 60px;
    font-size: 1.8rem;
    text-align: center;
    margin: 17px 11px 17px 20px;
}


.round-formation{
    width: 60px;
    height: 60px;
    z-index: 30;
    background-color:white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 50%;
}


.validate-button{
    color: rgba(91, 189, 131, 1);
    margin: auto;
    position: absolute;
    z-index: 30;
    border-radius: 60px;
    font-size: 1.8rem;
    text-align: center;
    margin: 17px 16px 17px 16px;
}


.overlay-activate{
    background-color: rgba(121, 121, 121, 0.68) ;
    z-index: 6;
    position: absolute;
    width: 100%;
}

.text-reference-formation{
    margin-left: 10px;
    margin-right: 10px;
}

.card-mini{
    border-radius: 5px;
}


/* ressource private */

.private-podcast-button {
    color: #cc6699;
    padding: 5px 18px;
    width: 37%;
    border: 2px solid #cc6699;
    border-radius: 5px;
    position: absolute;
    bottom: 21px;
    right: 0;
    left: 0;
}

.private-video-button{
    color: #58b1c6;
    padding: 5px 18px;
    width: 37%;
    border: 2px solid #58b1c6;
    border-radius: 5px;
    position: absolute;
    bottom: 21px;
    right: 0;
    left: 0;
}

.private-pdf-button{
    color: #66cc99;
    padding: 5px 18px;
    width: 37%;
    border: 2px solid #66cc99;
    border-radius: 5px;
    position: absolute;
    bottom: 21px;
    right: 0;
    left: 0;
}

.podcast-card:hover .private-podcast-button {
    background-color: #cc6699;
    color: white;
}

.pdf-card:hover .private-pdf-button {
    background-color: #66cc99;
    color: white;
}

.video-card:hover .private-video-button {
    background-color: #58b1c6;
    color: white;
}

/*-------------------------------------Unique Course*/


.formation-right{
    background-color: black;
    
}

.left-quizz-container{
    width: 45vw;
    position: absolute;
}

.right-quizz-container{
    width: 100%;
    height: 100vh;
}

.right-quizz-container2{
    width: 100%;
    height: 100vh;
}


/* container */

.pourcent-bar{
    width: 90%;
    margin: 0 auto 3% auto;
}

.pourcent-bar-back{
    background-color: #c9c9c9;
}

.current-number-pourcent{
    color: #b0b0b0;
}

#numberquestion{
    margin-right: 5%;
}

.question-content{
    width: 90%;
}
/* reponse */

#reponses{
    margin-top: 5%;
}


/* reponse check*/
.reponse-checkbox input{
    position: absolute;
}

.question-container .reponse-checkbox{
    cursor: pointer;
    margin: 10px auto;
    padding-left: 7px;
}

.reponse-checkbox label{
    margin-left: -9px;
    cursor: pointer;
}

.question-container input[type="checkbox"]{
    opacity: 0;
}


.question-container label span:hover{
    background-color: #969fec;
    color: white;
}

.question-container label span.span-reponse {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    border: 2px solid #6d7aea;
    border-radius: 18px;
    transition: 0.5;
    user-select: none;
}

/* .question-container label input[type="checkbox"]:checked ~ span {
    background-color: #6d7aea;
    border: 2px solid #6d7aea;
    color: white;
} */

.question-container label input.checked ~ span {
    background-color: #6d7aea;
    border: 2px solid #6d7aea;
    color: white;
}
/* reponse true */

.question-container label span.reponse-true {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    background-color: #b7eacc !important;
    border: 2px solid #b7eacc!important;
    color: black;
    border-radius: 18px;
    transition: 0.5;
    user-select: none;
}

#valide{
    margin-top: -50px;
    position: absolute;
    
}



/* reponse false */

.question-container label span.reponse-false {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    background-color: #c45858!important;
    border: 2px solid #c45858!important;
    color: white;
    border-radius: 18px;
    transition: 0.5;
    user-select: none;
}

/* indice */

.indice{
    width: 70%;
    padding: 20px;
    border: #ababab solid 2px;
    border-radius: 9px;
    margin: 12% auto;
}

/* Next-formation */

#nextcourse{
    background-color: white;
    width: 500px;
    height: 422px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#ressource_course_next{
    width: 63%;
    margin: 8px auto 0px auto;
}


.next-formation-ressource{
    width: 150px;
}

.formation-next-image{
    width: 300px;
    height: 175px;
    background-color:  #6d7aea;
    margin: 0 auto;
}

.next-formation-overlay{
    background-color: #6d7aea;
}

/* victory */

#victory{
    display: none;
    height: 35vh;
    width: 100%;
}

.victory-img{
    margin: auto;
    width: 20%;
    top: -17px;
    left: 0;
    right: 0;
    bottom: 32px;
}

.victory-text{
    position: absolute;
    margin: 0 auto;
    bottom: 41px;
    left: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
}


/* Ressources */

.ressource-course-container{
    width: 90%;
}

/* video */

#video_run{
    margin-top: 5rem;
    outline: none;
}




    @media screen and (max-width: 1320px) {
    

    }

    @media screen and (max-width: 1024px) {
    
    
    
    }

    
    @media screen and (max-width: 992px) {


     /* all formation interactives pages*/

        .grid-title-2 {
            grid-template-columns: 5fr ; 
        }

        .grille {
            grid-template-columns: 1fr 1fr ;
        }

     /*video quizz*/


        .formation-right {
            height: unset;
        }

        .right-quizz-container {
            position: unset;
        }

        #video_run {
            margin-top: 2rem;
            outline: none;
        }
    
    }

    @media screen and (max-width: 908px) {
    
    
      .formation-card{
          height: 675px;
        }
    
    }

    @media screen and (max-width: 767px) {
    
    
        #formation_title{
            padding: 2rem!important;
        }
    
    }

    @media screen and (max-width: 640px) {

        #formation_grid{
            padding: 0!important;
        }

        .grille {
            grid-template-columns: 1fr  ;
        }

        .card-ressource {
            height: 565px!important;
        }

    
    }