/*ALL course*/

#formation_title{
    background-color: #6d7aea;
    display: flex;
    
}

.link-formation{
    cursor: pointer;
}

.selected-choice{
    font-weight: bold;
    padding-left: 5px;

}


.selected-choice::before{
    content: "";
    position: absolute;
    height: 2rem;
    margin-left: -10px;
    width: 7px;
    background-color: rgba(109, 122, 234, 1);

}

.category-course-ref{
    margin-left: 10px;
}

.grille{
    max-width: 1260px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
}

.grille-item{
    width: 400px;
    margin: 10px;
}

.course-image{
    filter: grayscale(1);
}

.formation-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.overlay-undone{
    background-color:  rgba(109, 122, 234, 0.68);
    z-index: 6;
    width: 400px;
}

.overlay-validate{
    background-color: rgba(117, 208, 86, 0.68) ;
    z-index: 6;
    width: 400px;
}

.overlay-activate{
    background-color: rgba(239, 139, 46, 0.68) ;
    z-index: 6;
    width: 400px;
}

.text-reference-formation{
    margin-left: 10px;
    margin-right: 10px;
}
/*-------------------------------------Unique Course*/

.left-quizz-container{
    width: 45vw;
}

.right-quizz-container{
    width: 88vw;
    height: 90vh;
    background-color: black;
}

/* container */

.pourcent-bar{
    width: 90%;
    margin: 0 auto 3% auto;
}

#numberquestion{
    margin-right: 5%;
}

.question-content{
    width: 90%;
}
/* reponse */

#reponses{
    margin-top: 12%;
}

/* reponse check*/
.question-container .reponse-checkbox{
    cursor: pointer;
    margin: 14px auto;
    padding-left: 7px;
}

.reponse-checkbox label{
    margin-left: -9px;
    cursor: pointer;
}

.question-container input[type="checkbox"]{
    opacity: 0;
}


.question-container label span:hover{
    background-color: #969fec;
    color: white;
}

.question-container label span.span-reponse {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    border: 2px solid #6d7aea;
    border-radius: 18px;
    transition: 0.5;
    user-select: none;
}

/* .question-container label input[type="checkbox"]:checked ~ span {
    background-color: #6d7aea;
    border: 2px solid #6d7aea;
    color: white;
} */

.question-container label input.checked ~ span {
    background-color: #6d7aea;
    border: 2px solid #6d7aea;
    color: white;
}
/* reponse true */

.question-container label span.reponse-true {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    background-color: #b7eacc !important;
    border: 2px solid #b7eacc!important;
    color: black;
    border-radius: 18px;
    transition: 0.5;
    user-select: none;
}

/* reponse false */

.question-container label span.reponse-false {
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    background-color: #c45858!important;
    border: 2px solid #c45858!important;
    color: white;
    border-radius: 18px;
    transition: 0.5;
    user-select: none;
}

/* indice */

.indice{
    width: 70%;
    padding: 20px;
    border: #ababab solid 2px;
    border-radius: 9px;
    margin: 12% auto;
}


/* Ressources */

.ressource-course-container{
    width: 90%;
}

/* video */

#video_run{
    margin-top: 5%;
}