

/* Première section avec l'image du livre et le titre d'accroche */

.first-image-home{
    background: url("../img/bookfirst.jpg");
    background-size: cover;
    width: 100%;
}

.main-title{
    /* border-left: 4px #6d7aea solid; */
}

.main-title::before{
    content: "";
    position: absolute;
    left: 0px;
    display: block;
    height: 87%;
    top: 19px;
    background-color: #6d7aea;
    width: 5px;
    margin-right: 10px;
}



/*Présentation section*/



.presentation-home-text{
    border-left: #6d7aea 5px solid;
    height: 100%;
    margin-left: 8vw;
}

.presentation-home-title{
margin-top: -14px;
}

.home-present-tex2{
    border-left: #6d7aea 5px solid;
    height: 100%;
}

.image-presentation-content{
    width: 138%;
    height: 100%;
    box-sizing: border-box;
    border-left: 100px solid #fff;
    border-bottom: 400px solid transparent;
    background: url("../img/present-image.jpg") no-repeat ;
    background-size: 150%;
    background-position: top 0 center;
    
}


.image-presentation-content::before{
    width: 80px;
    height: 80px;
    border-radius:0 40px 40px 0;
    background-color:#FFF;    
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
    content: '';
}


.present-image{
    width: 154%;
}

.present-image-md{
    display: none;
    width: 100%;
}

/* ressource */

.ressource-home-text {
    border-left: #FBB03C 5px solid;
    height: 100%;
    margin-left: 8vw;
}

.ressource-home-title {
    margin-top: -14px;
}

.ressources-text{
    margin: 8% 4%;
}

.card-ressource-home {
    height: 526px!important;
}

.card-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text{
    padding: 0 13px 0 0;
}

.card-text-usage{
    position: absolute;
    left: .5rem;
    bottom: 1rem;
}

.category{
    font-weight: 400;
    text-transform: uppercase;
}

.ressource-cards {
    /* height: 416px; */
}

.pdf-color{
    color: #66cc99;
}

.podcast-color{
    color: #cc6699;
}

.video-color{
    color: #58b1c6;
}


.ressource-home-button{
    color: #6d7aea;
    border:  solid #6d7aea 2px;
    border-radius: 7px;
    padding: 7px 34px;
}



   


.ressource-home-button-div{
    position: absolute;
}


/* Formation interactives */

.formation-image-md{
    display: none;
    width: 100%;
    position: relative;
    z-index: 2;
}

.formation-home-img{
    position: relative;
    z-index: 2;
}

.formation-home-text{
    width: 100%;
    background-color: #6d7aea;
    /* border-left: white solid 4px; */
    margin: 4% 4% 5% -9%;
    position: relative;
    z-index: 1;
    padding-left: 10%;
}

/*cas d'usage*/

.home-cas-usage{
    
}

.cas-usage:hover .cas-usage-miniature{
    opacity: 0.7;
}

.cas-usage{
    height: 300px!important;
}

.image-usage-div{
    position: relative;
}

.play-usage-button{
    color: #6d7aea;
    margin: auto;
    position: absolute;
    z-index: 30;
    border-radius: 60px;
    font-size: 1.5rem;
    text-align: center;
    margin: 11px 11px 11px 13px;
}


.round{
    width: 45px;
    height: 45px;
    z-index: 30;
    background-color:white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 50%;
}

.mobile-cas-usage{
    display: none!important;
}

.slick-slide {
    margin-bottom: 2%;
}

.slick-track{
    margin-top: 2px;
    margin-bottom: 38px;
}





/* ------------------------------------- Responsive */

@media screen and (max-width: 1290px) {
    
    .presentation-home-text{
        border-left: #6d7aea 5px solid;
        height: 100%;
        margin-left: 4vw;
    }

    .card-ressource-home {
        height: 500px!important;
    }

    .ressources-text{
        margin: 6% 4%;
    }
    
    
}


@media screen and (max-width: 1199px) {
    
    .ressources-text{
        margin: 3% 4%;

    }

    .formation-home-text {
      
        margin: 1% 2% 5% -9%;

    }
    
}

@media screen and (max-width: 1126px) {
    
    .ressources-text{
        margin: 3% 4%;
    }

  
    
}

@media screen and (max-width: 1024px) {

    .present-image{
        display: none;
    }

    .card-ressource-home {
        height: 515px!important;
    }

    .presentation-home-text{
        border-left: #6d7aea 5px solid;
        height: 100%;
        margin-left: 0;
    }

    .present-image-md{
        display: block;
    }

    .ressource-book{
        display: none;
    }

    .ressources-text{
        margin: 2% 0%;
    }

    .formation-home-img{
        display: none;
    }

    .formation-image-md{
        display: block;
    }

    .formation-home-text {
        width: 100%;
        background-color: #6d7aea;
        margin: 0;
        position: relative;
        z-index: 1;
        padding-left: 0;
        padding-top: 14%;
        margin-top: -14%;
    }

}

@media screen and (max-width: 767px) {

    .home-present-tex2{
        border-left: none;
        height: 100%;
    }
    .formation-home-text {
        width: 100%;
        background-color: #6d7aea;
        margin: 0;
        position: relative;
        z-index: 1;
        padding-left: 0;
        padding-top: 24%;
        margin-top: -24%;
    }

    .ressource-home-button-div{
        position: unset;
    }
    

}

@media screen and (max-width: 640px) {

    .first-image-home{
        background: url("../img/bookfirst-phone.jpg");
        background-size: cover;
        width: 100%;
    }

    .main-title::before{
        display: none;
    }

    


}