/* nav */


.current-page{
    color: #6d7aea!important;
}

.logo-img-explicit {
    width: 143px;
}


.sidebar-admin {
    height: 100vh!important;
    overflow-y: none!important;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
}

/* body */

a{
    text-decoration: none;
    color: black; 
}

a:hover{
    color: black;
    text-decoration: none!important;
}

a:focus{
    outline: none;
}

.logo-loading{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15%;
}

.gif-loading{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: -33%;
    left: 0;
    right: 0;
}


/* footer */
body{
    overflow-x: hidden;
}

footer{
    background-color: #6d7aea;
    position: absolute;
    width: 100vw;
}

.footer-img-logo{
    width: 177px;
}

.legal{
    width: 100%;
    text-align: right;
    margin: 10px;
}

#top{
    color: white;
    padding: 10px;
    border: white 2px solid ;
    margin-top: 10px;
    margin-right: 2%;
    margin-bottom: 10px;
}

.main-color-text{
    color: #6d7aea;
}


/* cookie */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
.cookie-style{
    background-color: #6d7aea;
    width: 100vw;
    position:fixed; 
    top:auto; 
    padding: 11px 0 11px 11px;
    bottom:0;
    z-index: 999;
}

.cookie-text{
    font-size: 22px;
    padding: 13px;
    
}

.cookie-button-style{
    text-align: center;
    margin: 0;
    bottom: 50px;
    right: 2%;
    justify-content: center;
    font-size: 22px;
    
}

/* admin */

.admin-logo{
    width: 89%!important;
}

/* mention légale */

.mention-legale-text{
    border-left: #6d7aea solid 5px;
}



/* boostrap reinisialize */

.row{
    margin-left: 0!important;
    margin-right: 0!important;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
}


p {
    margin-top: 0;
    margin-bottom: unset!important; 
}

/* Media-queries */

@media screen and (max-width: 930px) {
    
    .ul-navigation{
        display: none;
    }

    .current-page {
        color: #000!important;
    }
    
}


@media screen and (max-width: 640px) {
    
    .h1-main-tittle{
        font-size: 2rem;
    }
    
}



/*old test*/


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.nav-bar-header{
    background: white;
    height: 80px;
    width: 100%;
}

.burger-menu{
    color: #6d7aea;
}



label.logo-navigation {
    color: black;
    position: absolute;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 2.5rem;
    font-weight: bold;
    display: flex;
    width: 50%;
}
nav .ul-navigation{
    float: right;
    margin-right: 20px;
}

.connexion-icon{
    color: #6d7aea;
}

nav .ul-navigation .li-navigation-dropdown{
    display: inline-block;
    margin: 0 5px;
}

nav .ul-navigation .li-navigation{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav .ul-navigation .li-navigation a{
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight:500;
}
nav a:hover{
    color: #6d7aea!important;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    
}

#burger-menu-close{
    display: none;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

/* #check{
    display: none;
} */

.burger-menu-open{
    display: none;
}

.burger-menu-close{
    display: none;
}


/* grid test */

.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
}

.grid-item-test{
    height: 500px;
    width: 345px;
    background-color: #fff;
    margin: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (min-width: 930px){

    .burger-menu-open{
        display: none;
    }
    
    .burger-menu-close{
        display: none;
    }
    

}

@media (max-width: 930px){

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav .ul-navigation .li-navigation a{
        font-size: 16px;
    }

    nav a:hover{
        color: #000!important;
    }

    
    .burger-menu-open{
        display: block;
    }
    
    .ul-navigation{
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100vh;
        background: #6d7aea;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav .ul-navigation {
        float: right;
        margin-right: 0px; 
    }

    nav .ul-navigation .li-navigation{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav .ul-navigation .li-navigation a{
        font-size: 20px;
        color: white;
    }

    /* a:hover,a.active{
        color: #6d7aea;
    } */



    #check:checked ~ .ul-navigation{
        right: 0;
    }
}




@media screen and (max-width: 768px) {
    
    .connexion-icon{
        color: white;
    }

}

@media screen and (max-height: 500px) {
    
    .ul-navigation {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: auto;
        background: #6d7aea;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

}

