

/* footer */


footer{
    background-color: #6d7aea;
}

.legal{

}

#top{
    color: white;
    padding: 10px;
    border: white 2px solid ;
    margin-top: 10px;
    margin-right: 2%;
}

.main-color-text{
    color: #6d7aea;
}

