/* nav */

.current-page{
    color: #6d7aea;
}

/* footer */
body{
    overflow-x: hidden;
}

footer{
    background-color: #6d7aea;
    position: absolute;
    width: 100vw;
}

.footer-img-logo{
    width: 177px;
}

.legal{
    width: 100%;
    text-align: right;
    margin: 10px;
}

#top{
    color: white;
    padding: 10px;
    border: white 2px solid ;
    margin-top: 10px;
    margin-right: 2%;
    margin-bottom: 10px;
}

.main-color-text{
    color: #6d7aea;
}

