.main-color-text{
  color: #6d7aea;
}

.contenu{
  margin: 0 auto;
  width: 70%;
}

.card{
  cursor: pointer;
}

.podcast-button{
  color: #cc6699;
  padding: 5px 18px;
  border: 2px solid #cc6699;
  border-radius: 5px;
}

.video-button{
  color: #58b1c6;
  padding: 5px 18px;
  border: 2px solid #58b1c6;
  border-radius: 5px;
}

.video-card-content{
  border-left: 3px solid #58b1c6;
}

.podcast-card-content{
  border-left: 3px solid #cc6699;
}

.pdf-card-content{
  border-left: 3px solid #66cc99;
}

.pdf-button{
  color: #66cc99;
  padding: 5px 18px;
  border: 2px solid #66cc99;
  border-radius: 5px;
}


.video-card:hover .video-button{
  background-color: #58b1c6;
  color: white;
}

.podcast-card:hover .podcast-button{
  background-color:  #cc6699;
  color: white;
}

.pdf-card:hover .pdf-button{
  background-color: #66cc99;
  color: white;
}

/* search-bar*/

.search-bar{
  background-color: #6d7aea;
  padding-bottom: 2vh;
}

.wrapper .search_box{
  width: 34vw;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  margin: 0 auto;
}

.wrapper .search_box .dropdown{
  width: 13vw;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  padding: 13px 15px;
  font-size: 16px;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  z-index: 30;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 13vw;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active{
  display: block;
}

.wrapper .search_box .dropdown ul li{
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #6d7aea transparent transparent transparent;
}

.wrapper .search_box .search_field{
  width: 20vw;
  border-right: 2px solid #dde2f1;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #6d7aea;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}


/* news */

/* All ressource*/

#container {
  margin: auto;
}

.slick-slide{
  margin-bottom: 0!important;
}

.grid-item {
  display: inline-block;
  margin: 13px;
  overflow: hidden;
  width: 27%;
  height: 500px;
}

.grid {
  margin: 0 auto;
  width: 26%;

}

.isotope-pager .pager {
  display: inline-block;

}

.isotope-pager{
  text-align: center!important;
  margin: 1%;
}

.pager{
  margin: 0 4px;
}

.pager:active{
  color: #6d7aea;
}
