.main-color-text{
  color: #6d7aea;
}

.search-bar h1{
    text-align: center;
    position: relative;
    width: 36%;
    margin: 0 auto;
}

.contenu{
  margin: 0 auto;
  width: 70%;
}

.contenu-all-ressource{
  margin: 0 auto;
  width: 70%;
}

.card{
  cursor: pointer;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
}

.card-ressource{
  height: 524px!important;
}

.news-ressource{
  height: 550px!important;
}

.news-ressource-button{
    bottom: 10px;
    left: 0;
    right: 0;
}
.grid-item-test:hover .card-content::before {
  -moz-transform: skew(0deg, 0deg) ;
  -webkit-transform: skew(0deg, 0deg) ;
  -o-transform: skew(0deg, 0deg) ;
  -ms-transform: skew(0deg, 0deg) ;
  transform: skew(0deg, 0deg) ;
}


.grid-item:hover .card-content::before {
  -moz-transform: skew(0deg, 0deg) ;
  -webkit-transform: skew(0deg, 0deg) ;
  -o-transform: skew(0deg, 0deg) ;
  -ms-transform: skew(0deg, 0deg) ;
  transform: skew(0deg, 0deg) ;
}

.card-content{
  position: relative;
}

.card-content::before{
  content: "";
  display: block;
  border-left: #fff 2px solid;
  width: 100%;
  height: 100px;
  background: white;
  position: absolute;
  left: 0;
  top: -16px;
  outline: 1px solid transparent;
  border: 1px solid white;
  -moz-transform: skew(0deg, -5deg);
  -webkit-transform: skew(0deg, -5deg);
  -o-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  -moz-transition: -moz-transform .3s cubic-bezier(0.7, 0.7, 0.21, 1);
  -o-transition: -o-transform .3s cubic-bezier(0.7, 0.7, 0.21, 1);
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.7, 0.7, 0.21, 1);
  transition: transform .3s cubic-bezier(0.7, 0.7, 0.21, 1);
}

.slick-next, .slick-prev{
  color: #6d7aea;
  font-size: 40px;
  cursor: pointer;
}

.publish-date{
  color: gray;
  font-size: 15px;
}

.slick-next{
  position: absolute;
  top: 35%;
  right: -5%;
}

.slick-prev{
  position: absolute;
  top: 35%;
  left: -5%;
}

.podcast-button{
  color: #cc6699;
  padding: 5px 18px;
  width: 27%;
  border: 2px solid #cc6699;
  border-radius: 5px;
}

.video-button{
  color: #58b1c6;
  padding: 5px 18px;
  width: 27%;
  border: 2px solid #58b1c6;
  border-radius: 5px;
}

.all-pdf-card-content {
  border-left: 3px solid #66cc99;;
}

.all-video-card-content{
  border-left: 3px solid #58b1c6;
}

.all-podcast-card-content{
  border-left: 3px solid #cc6699;
  
}

.pdf-card-content a:hover{
  color: black;
  text-decoration: none!important;
}


.video-card-content a:hover{
  color: black;
  text-decoration: none!important;
}

.podcast-card-content a:hover{
  color: black;
  text-decoration: none!important;
}

.text-reference-formation{
  color: black!important;
}


.video-card-content{
  border-left: 3px solid #58b1c6;
  position: absolute;
  z-index: 3;
}

.podcast-card-content{
  border-left: 3px solid #cc6699;
  position: absolute;
  z-index: 3;
}


.pdf-card-content{
  border-left: 3px solid #66cc99;
  position: absolute;
  z-index: 3;
}

.card-button{
  position: absolute;
  border-radius: 5px;
  bottom: 15px;
  right: 0;
  left: 0;
}

.pdf-button{
  color: #66cc99;
  padding: 5px 18px;
  width: 27%;
  border: 2px solid #66cc99;
  border-radius: 5px;
}

.pdf-button:hover {
  background-color:  #66cc99;
  color: white!important;
}


.video-button:hover {
  background-color:  #58b1c6;
  color: white!important;
}

.podcast-button:hover {
  background-color:  #cc6699;
  color: white!important;
}


.video-card:hover .video-button{
  background-color: #58b1c6;
  color: white;
}

.podcast-card:hover .podcast-button{
  background-color:  #cc6699;
  color: white;
}

.pdf-card:hover .pdf-button{
  background-color: #66cc99;
  color: white;
}

/* search-bar*/

.search-bar{
  background-color: #6d7aea;
  padding-bottom: 2vh;
}

.wrapper .search_box{
  width: 34vw;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  margin: 0 auto;
}

.wrapper .search_box .dropdown{
  width: 13vw;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  padding: 13px 15px;
  font-size: 16px;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  z-index: 30;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 13vw;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active{
  display: block;
}

.wrapper .search_box .dropdown ul li{
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #6d7aea transparent transparent transparent;
}

.wrapper .search_box .search_field{
  width: 20vw;
  border-right: 2px solid #dde2f1;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #6d7aea;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}


/* news */

/* All ressource*/

#container {
  margin: auto;
}

.container-all-ressource{
  margin: 0 auto;
  width: 80%;
}

.tittle-all-ressource{
  text-align: right;
}

.slick-slide{
  margin-bottom: 0!important;
}

.slick-ressource-page{
  height: 436px!important;
}

.grid-item {
  margin: 13px;
  overflow: hidden;
  width: 345px;
  height: 500px;
}

.grid {
  margin: 0 auto;
}

.isotope-pager .pager {
  display: inline-block;

}

.isotope-pager{
  text-align: center!important;
  margin: 1%;
}

.pager{
  margin: 0 4px;
}

.pager:active{
  color: #6d7aea;
}

@media screen and (max-width: 1320px) {

  /* barre de recherche*/
  .wrapper .search_box{
    width: 44vw;
  }

  .wrapper .search_box .dropdown{
    width: 23vw;
  }

}

@media screen and (max-width: 1024px) {

  /* barre de recherche*/
  .wrapper .search_box{
    width: 64vw;
  }

  .wrapper .search_box .search_field{
    width: 31vw;
  }
  

  .wrapper .search_box .dropdown{
    width: 31vw;
  }

  .contenu-all-ressource{
    margin: 0 auto;
    width: 100%;
  }

  .container-all-ressource{
    margin: 0 auto;
    width: 100%;
  }

  .tittle-all-ressource{
    text-align: center;
  }
  

  

}

@media screen and (max-width: 767px) {

  /* barre de recherche*/
  .wrapper .search_box{
    width: 64vw;
  }

  .wrapper .search_box .search_field{
    width: 31vw;
  }
  

  .wrapper .search_box .dropdown{
    width: 31vw;
  }

  .card-ressource{
    height: 570px!important;
  }

}

@media screen and (max-width: 708px) {

  .card-ressource{
    height: 565px!important;
  }

}

@media screen and (max-width: 640px) {

  /* barre de recherche*/

  .search-bar h1{
    text-align: center;
    position: relative;
    width: 63%;
    margin: 0 auto;
}

  .wrapper .search_box {
    border-radius: 0px;
  }

  .isotope{
    width: 376px!important;
  }

  .book-ressource{
    margin-top: -19%;
  }

  /* all ressources */

  .contenu{
    width: 80%;
  }

  .grid-item{
    width: 335px;
  }

  .card-ressource{
    height: 524px!important;
  }

  .wrapper .search_box {
    width: 100vw;
    
  }

  .wrapper .search_box .search_field{
    width: 50vw;
  }

  .wrapper .search_box .dropdown {
    width: 44vw;
}
  


}

@media screen and (max-width: 320px) {

  /* barre de recherche*/

  .isotope{
    width: 100vw!important;
  }

  /* all ressources */

  .grid-item{
    width: 300px;
  }


}

